<body>
    <div class=" container login-form">
        <div class = "row logo-login">
            <div class = "col-sm-6">
                <div>
                    <img class="clinic" src="assets/image.jpg">
                </div>
            </div>
            <div class = "col-sm-6">
                <div class="dropdown">
                    <i class="fa fa-user user" style="font-size:36px" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/user-details">Profile</a></li>
                        <li><a class="dropdown-item" href="/change-password">Change Password</a></li>
                        <li><a class="dropdown-item" (click)="logout()" href="/Login">Logout</a></li>
                      </ul>
                </div>
            </div>
           
           
        </div>
        
        <!-- <button style="float: right" (click)="logout()">Logout</button> -->
        
    <div class = "row logo-login">
        <div class=" col-sm-6">
            <h3 class="login-header">Patient ID: </h3>
        </div>
        <div class=" col-sm-6">
            <h3>{{userdata.dhp_id}}</h3>
        </div>

    </div>      
    <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
             <div class = "user-data">
                <div class=" col-sm-4">
                    <label>Name </label>
                </div>
                <div class=" col-sm-2">
                    <p>: </p>
                </div>
                <div class=" col-sm-4">
                    <p>{{userdata.first_name}} {{userdata.last_name}}</p>
                </div>
                
             </div>
             
             <div class = "user-data">
                <div class=" col-sm-4">
                    <label>Date of Birth</label>
                </div>
                <div class=" col-sm-2">
                    <p>: </p>
                </div>
                <div class=" col-sm-4">
                    <p>09/09/2005</p>

                </div>
                
            </div>
            <div class = "user-data">
                <div class=" col-sm-4">
                    <label>Email Address </label>
                </div>
                <div class=" col-sm-2">
                    <p>: </p>
                </div>
                <div class=" col-sm-4">
                    <p>{{userdata.email}}</p>

                </div>
                
            </div>
            <div class = "user-data">
                <div class=" col-sm-4">
                    <label>Phone Number </label>
                </div>
                <div class=" col-sm-2">
                    <p>: </p>
                </div>
                <div class=" col-sm-4">
                    <p>{{userdata.phone_number}}</p>

                </div>
                
            </div>
              
          </div><br><br>
          <!-- <a href="/upload-covid-vaccination-report" class="forgot-pass">Click here to upload Vaccination Details</a><br><br> -->
          <a class="link" (click)="sendData()" class="forgot-pass">Click here to upload health Report</a>
          </div>
    </div>
    </div>
    </body>
    