<body>

            <!-- <div class = "user-data">
                <div class=" col-sm-4">
                    <label>Email Address </label>
                </div>
                <div class=" col-sm-2">
                    <p>: </p>
                </div>
                <div class=" col-sm-4">
                    <p>{{userdata.email}}</p>

                </div>
                
            </div>
            <div class = "user-data">
                <div class=" col-sm-4">
                    <label>Phone Number </label>
                </div>
                <div class=" col-sm-2">
                    <p>: </p>
                </div>
                <div class=" col-sm-4">
                    <p>{{userdata.phone_number}}</p> -->

<div class="container" >
    <div class="main-body" style="margin-left: 25%; margin-top : 10%;">
    
    
          <div class="row gutters-sm">

            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <h5 style="text-align: center; padding-bottom: 30px;">Patient ID : {{userdata.dhp_id}} </h5>
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                          {{userdata.first_name}} {{userdata.last_name}} 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date of Birth</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        09/09/2005
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email Id</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                         {{userdata.email}} 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                          {{userdata.phone_number}} 
                    </div>
                  </div>
                  <hr>
                  <div class="row" style="padding-left: 5%; padding-top: 20px;">
                    <div class="col-sm-12">
                      <!-- <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a> -->
                      <a class = "link"(click)="sendData()" class="forgot-pass" style="color: blue;">Click here </a> to upload health Report
                    </div>
                  </div>


                </div>
              </div>

            </div>
              
          </div><br><br>
         
          </div>

        </div>







    </body>
    