/* .form-horizontal{
    margin-left: 80px;
} */


.login-form{
    width: 550px;
}


#email
{
width: 100%;
padding: 10px 10px;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
margin-top: 5px;

}

#password{
    margin-top: 5px;
    width: 100%;
padding: 10px 10px;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;

}

#butt{
    background-color: blue;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 109%;
    margin-left: -40px;
}
.login1
{
    margin-top: 30px;
    margin-left: 160px;
}