<body>
  <div class="login-form">
   <!--  <img class="clinic" src="assets/clinic.jpg" height="80px" width="80px;"> --> 
      <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="login">
              <h1 class="login-header" style="margin-left: -20px;">Login</h1><br>
            </div>    
            <div class="control-group" id="em1">
              <label class="control-label"  for="username" style=" font-size : larger " class="required">Email ID</label>&nbsp;&nbsp;
                <input type="text" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" placeholder="Enter Email ID" class="input-xlarge">
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                  <div *ngIf="f['email'].errors?.['required']">Email ID is required</div>
            </div>
            </div>
  
            <div class="control-group-pass">
              <label class="control-label" for="password" id="pass" style="font-size:larger" class="required">Password</label>&nbsp;&nbsp;
                <input type="password" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" name="password" placeholder="Enter Password" class="input-xlarge">
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors?.['required']">Password is required</div>
            </div>
            </div>    
  
            <div class="control-group-submit">
                <button class="btn btn-success submit" id="butt">Login</button><br><br>
                <a href="/forgot-password" class="forgot-pass" style="color: black; ">Forgot Password?</a>
            </div>

            <div class="login1">
              <div style="color: gray;">Need an Account? <a href="/Register" class="hyper" style="color: black;"> Sign Up</a>
              </div>
            </div> 
          </fieldset>
        </form>
  </div>
  </body>