/* zxing-scanner {
    max-width: 250%;
    height: 100%;
  } */

  /* .column {
    float: left;
    width: 70%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
 
  .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }