/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.control-group{
    margin-left: 20px;
    margin-top: 40px;
}

.login-form{
    
    height: 650px;
    /* margin: 7em auto; */
    margin-top: 20px;
    margin-left: 490px;
  padding-right: 70px;
  padding-left: 30px;
  background-color: white;
  border-radius: 5px;
   
}

.login-form1{

    height: 1100px;
    width: 550px;
    /* margin: 7em auto; */
    margin-top: 20px;
    margin-left: 490px;
  padding-right: 70px;
  padding-left: 30px;
  background-color: white;
  border-radius: 5px;
   
   
}

body{
    height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: whitesmoke;
}



.login{
    color:blue;
    margin-top: 70px;
    margin-left: 210px;
}

.control-group-pass{ 
    margin-left: 20px;
    margin-top: 20px;
}


.control-group-submit{
    margin-left: 60px;
    margin-top: 20px;
}
.submit{
    margin-left: 0px;
}

.forgot-pass{
    color: red;
    margin-left: 65%;
   
}
.required:after {
    content:" *";
    color: red;
  }

.invalid-feedback{
    margin-top: 10px;
}

.hyper{
    color:red;
}

.clinic{
    float: left;
}

.forgot-pass:hover{
    text-decoration: underline;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }