.login-form{
    width: 550px;
    margin-top: 5px;
    height: 840px;
    margin-left: 420px;
}

/* .login-header{
    margin-top: 10px;
} */

.control-group{
    margin-top: 80px;
}

.login{
    margin-left: 225px;
    margin-top: 20px;
}

.control-group{
    margin-top: 30px;
    margin-left: -15px;

}

.control-group-organization{
    margin-top: 30px;
    margin-left: -15px;
    
}

.control-group-pass{
    margin-top: 30px;
    margin-left: -15px;
}

.control-group-confpass{
    margin-top: 30px;
    margin-left: -15px;
}

.control-group-phonenumber{
    margin-top: 30px;
    margin-left: -15px;
}

.form-horizontal{
margin-left: 50px;
}

.forgot-pass{
    margin-left: 180px;
}

.check{
    margin-left: -5px;
}
#check1{
    margin-left: 82px;
}

.control-group-submit{
    margin-left: 290px;
    margin-top: 45px;
}

.clinic{
    float: left;
}
#organizationemailid{
    width: 420px;
padding: 10px 10px;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

#organizationname{
    width:420px;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
#password{
    width: 420px;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#confirmpassword
{
    width: 420px;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#phonenumber
{
    width: 420px;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#btt{
    background-color: blue;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 375%;
    margin-left: -300px;
}