<body>
  <div class="login-form1">
      <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="onSubmit(mymodal)">
            <div class="login">
              <h1 class="login-header" style="margin-left: -140px; margin-top: 40px;">Registration</h1>
            </div>    
            <div class="control-group has-validation">
              <label class="control-label" for="organizationemailid" style=" font-size : larger ">Organization Email ID</label><span class="required"></span>&nbsp;&nbsp;
                <input type="text" id="organizationemailid" placeholder="Enter Organization Email Id" formControlName="organizationemailid" email="true" [ngClass]="{ 'is-invalid': submitted && f['organizationemailid'].errors }" name="organizationemailid" class="input-xlarge">
                <div *ngIf="submitted && f['organizationemailid'].errors" class="invalid-feedback">
                  <div *ngIf="f['organizationemailid'].errors?.['required']">Organization Email ID is required</div>
                  <div *ngIf="f['organizationemailid'].errors?.['email']">Please provide valid Organization Email ID</div>
            </div>
            </div>
  
            <div class="control-group-organization">
              <label class="control-label" for="password" style="font-size:larger" class="required">Organization Name</label>&nbsp;&nbsp;
                <input type="text" id="organizationname" placeholder="Enter Organization Name" formControlName="organizationname" [ngClass]="{ 'is-invalid': submitted && f['organizationname'].errors }" name="organizationname" class="input-xlarge">
                <div *ngIf="submitted && f['organizationname'].errors" class="invalid-feedback">
                  <div *ngIf="f['organizationname'].errors?.['required']">Organization name is required</div>
            </div>
            </div>
  
            <div class="control-group-pass">
              <label class="control-label" for="password" style="font-size:larger" class="required">Password</label>&nbsp;&nbsp;
                <input type="password" id="password" placeholder="Enter Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" name="password" class="input-xlarge">
                <div *ngIf="submitted && f['password'].errors" class=" passValid invalid-feedback" >
                  <div  *ngIf="f['password'].errors?.['required']">Password is required</div>
            </div>
            </div>
            <br>
            <a class="forgot-pass1" (click)="policy(privacy)" style="color: black; margin-left:210px;">Refer to a password policy</a>
  
            <div class="control-group-confpass">
              <label class="control-label" for="password" style="font-size:larger" class="required">Confirm Password</label>&nbsp;&nbsp;
                <input type="password" id="confirmpassword" placeholder="Enter Confirm Password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" name="confirmpassword" class="input-xlarge">
                <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                  <div *ngIf="f['confirmPassword'].errors?.['required']">Confirm Password is required</div>
                  <div *ngIf="f['confirmPassword'].errors?.['mustMatch']">Passwords must match</div>
              </div>
            </div>
  
            <div class="control-group-phonenumber">
              <label class="control-label" for="phonenumber" style="font-size:larger" class="required">Phone Number</label>&nbsp;&nbsp;
                <input type="text" id="phonenumber" placeholder="Enter Phone Number" formControlName="phone_number" [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }" name="phonenumber" class="input-xlarge">
                <div *ngIf="submitted && f['phone_number'].errors" class="invalid-feedback">
                  <div *ngIf="f['phone_number'].errors?.['required']">Phone number is required</div>
            </div>
            </div>
            
            <br>
  <br><br>
  <div class="check">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" (change)="healthCheck($event)" formControlName="role" id="inlineCheckbox1" value="ISSUER">
              <label class="form-check-label" for="inlineCheckbox1" style="font-size:large">Health Center</label>
            </div>
            <div class="form-check1 form-check-inline" id="check1">
              <input class="form-check-input" type="radio" (change)="healthCheck($event)" formControlName="role" id="inlineCheckbox2" value="VERIFIER">&nbsp;
              <label class="form-check-label" for="inlineCheckbox2" style="font-size:large">Airport Authority</label>
            </div>
          </div>
  
            <div class="control-group-submit">
                <button class="btn btn-success submit" id="btt">Sign Up</button>
            </div>
        </form>
  </div>
  </body>
  
  <ng-template #privacy let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      Password must contains one capital letter, ,one small letter,one special  character and number
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="closePolicy(modal)">Ok</button>
    </div>
  </ng-template>
  
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      Registered Successfully
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="Submit(modal)">Ok</button>
    </div>
  </ng-template>